<div class="row">
    <div class="subcon-title">经营概况</div>
    <div class="subcon-title2">经营概况总览
        <span class="update-time">数据统计时间：2016年7月21日</span>
    </div>
</div>
<div class="row margin-top no-margin">
    <a class="btn btn-default pull-right">更多</a>
</div>
<div class="row margin-top ">
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">访客数</span>
            <span class="data-box-num">5353435</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">支付买家数</span>
            <span class="data-box-num">5353435</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">转化率</span>
            <span class="data-box-num">12%</span>
        </div>
    </div>
</div>
<div class="row margin-top ">
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">支付买家数</span>
            <span class="data-box-num">432</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">支付订单数</span>
            <span class="data-box-num">5353435</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">支付金额</span>
            <span class="data-box-num">1000元</span>
        </div>
    </div>
</div>
<div class="row margin-top ">
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">退款金额</span>
            <span class="data-box-num">5353435</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">平均客单价</span>
            <span class="data-box-num">5353435</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">商品评分均值</span>
            <span class="data-box-num">12%</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="subcon-title2">访客趋势图</div>
</div>
<div class="row margin-top">
    <div class="col-xs-6 col-xs-offset-6 no-padding">
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt1"
                       is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true"
                       close-text="Close" alt-input-formats="altInputFormats" readonly/>
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
        <div class="col-md-6">
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt2"
                       is-open="popup2.opened"
                       datepicker-options="dateOptions2" ng-required="true" close-text="Close" readonly/>
                <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
    </div>
</div>
<div class="row no-margin margin-top">
    <div class="echart-box" id="main"></div>
</div>
<div class="row margin-top">
    <div class="subcon-title2">流量来源TOP10
        <span class="update-time">更新时间：2016年12月11日</span>
    </div>
</div>
<div class="row no-margin margin-top">
    <a class="btn btn-default pull-right">更多</a>
</div>
<div class="row margin-top no-margin">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>流量来源</th>
            <th>访客数（人）</th>
            <th>访问量</th>
            <th>人均浏览量</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>直接访问</td>
            <td>100</td>
            <td>2</td>
            <td>2%</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row margin-top">
    <div class="subcon-title2">商品分析
        <span class="update-time">更新时间：2016年12月11日</span>
    </div>
</div>
<div class="row no-margin margin-top">
    <a class="btn btn-default pull-right">更多</a>
</div>
<div class="row margin-top ">
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">被访问数</span>
            <span class="data-box-num">5353435</span>
            <span class="databox-title">前一天：98</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">下单商品数</span>
            <span class="data-box-num">72</span>
            <span class="databox-title">前一天：24</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">支付商品数</span>
            <span class="data-box-num">22</span>
            <span class="databox-title">前一天：24</span>
        </div>
    </div>
</div>
<div class="row margin-top ">
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">加购物车次数</span>
            <span class="data-box-num">5353435</span>
            <span class="databox-title">前一天：98</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">收藏次数</span>
            <span class="data-box-num">72</span>
            <span class="databox-title">前一天：24</span>
        </div>
    </div>
</div>
<div class="row margin-top">
    <div class="subcon-title2">交易分析
        <span class="update-time">更新时间：2016年12月11日</span>
    </div>
</div>
<div class="row no-margin margin-top">
    <a class="btn btn-default pull-right">更多</a>
</div>
<div class="row margin-top ">
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">下单买家数</span>
            <span class="data-box-num">5353435</span>
            <span class="databox-title">前一天：98</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">支付买家数</span>
            <span class="data-box-num">72</span>
            <span class="databox-title">前一天：24</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">支付订单数</span>
            <span class="data-box-num">22</span>
            <span class="databox-title">前一天：24</span>
        </div>
    </div>
</div>
<div class="row margin-top">
    <div class="subcon-title2">销售品类
        <span class="update-time">更新时间：2016年12月11日</span>
    </div>
</div>
<div class="row no-margin margin-top">
    <a class="btn btn-default pull-right">更多</a>
</div>
<div class="row margin-top">
    <div class="col-xs-6">
        <div class="echart-box" id="mainpie1"></div>
    </div>
    <div class="col-xs-6">
        <div class="echart-box" id="mainpie2"></div>
    </div>
</div>

