<div class="row">
    <div class="subcon-title">宏观用户信息</div>
    <div class="subcon-title2">用户概况
        <span class="update-time">更新时间：2016-06-08 12:20</span>
    </div>
</div>
<div class="row margin-top no-margin">
    <a class="btn btn-default pull-right">更多</a>
</div>
<div class="row margin-top ">
    <div class="col-xs-4">
        <div class="current-content">
            <span class="current-box-title">累计注册用户</span>
            <span class="current-box-data">1000</span>
            <span class="current-box-before">昨日：8000</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="current-content">
            <span class="current-box-title">新增用户</span>
            <span class="current-box-data">1000</span>
            <span class="current-box-before">昨日：8000</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="current-content">
            <span class="current-box-title">活跃用户数</span>
            <span class="current-box-data">1000</span>
            <span class="current-box-before">昨日：8000</span>
        </div>
    </div>
</div>
<div class="row margin-top">
    <div class="subcon-title2">总访问量
        <span class="update-time">更新时间：2016-06-08 12:20</span>
    </div>
</div>
<div class="row margin-top no-margin">
    <a class="btn btn-default pull-right">更多</a>
</div>
<div class="row margin-top no-margin">
    <div class="col-xs-2">
        <div class="data-box">
            <span class="databox-title">总访问量</span>
            <span class="data-box-num">5353435</span>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="data-box">
            <span class="databox-title">首页访问量</span>
            <span class="data-box-num">5</span>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="data-box">
            <span class="databox-title">首页访问量占比</span>
            <span class="data-box-num">50%</span>
        </div>
    </div>
</div>
<div class="row margin-top no-margin">
    <div class="col-xs-2">
        <div class="data-box">
            <span class="databox-title">总访问人数</span>
            <span class="data-box-num">5353435</span>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="data-box">
            <span class="databox-title">首页访问人数</span>
            <span class="data-box-num">5</span>
        </div>
    </div>
    <div class="col-xs-2">
        <div class="data-box">
            <span class="databox-title">首页访问量占比</span>
            <span class="data-box-num">50%</span>
        </div>
    </div>
</div>
<div class="row margin-top">
    <div class="subcon-title2">用户留存
        <span class="update-time">更新时间：2016-06-08 12:20</span>
    </div>
</div>
<div class="row margin-top no-margin">
    <a class="btn btn-default pull-right">更多</a>
    <div class="col-xs-3 pull-right" >
        <p class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt1"
                   is-open="popup1.opened" datepicker-options="dateOptions1" ng-required="true"
                   close-text="Close" alt-input-formats="altInputFormats" readonly/>
            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
    </div>

</div>
<div class="row no-margin">
    <div class="echart-box" id="main"></div>
</div>
<div class="row margin-top">
    <div class="subcon-title2">使用设备概况
        <span class="update-time">更新时间：2016-06-08 12:20</span>
    </div>
</div>
<div class="row margin-top no-margin">
    <a class="btn btn-default pull-right">更多</a>
</div>
<div class="row margin-top no-margin">
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">使用最多的浏览器</span>
            <span class="data-box-num">chrome： 50%</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">使用最多的操作系统</span>
            <span class="data-box-num">window10：60%</span>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="data-box">
            <span class="databox-title">使用最多的分辩率</span>
            <span class="data-box-num">1366*786： 50%</span>
        </div>
    </div>
</div>