<div class="container-fluid">
    <div class="row">
        <header class="login-header">
            <span class="col-xs-5">长虹官网数据服务系统</span>

            <div class="login-out2">
                <span><i class="fa fa-user"></i></span>
                <span>欢迎你 admin</span>
                <a class="btn btn-danger" ui-sref="signIn">退出</a>
            </div>
        </header>
    </div>
    <div class="row margin-top no-margin">
            <a class="btn btn-default" ui-sref="webIndex">首页</a>
    </div>
    <div class="row">
        <div class="info-p">登录名 admin</div>
        <div class="info-p">真实姓名 123</div>
        <div class="info-p">所属部门 软件与服务中心</div>
        <div class="info-p">岗位 员工</div>
        <div class="info-p" id="editbefore">密码
            ******
            <div class="pull-right margin-right">
                <a class="btn bg-primary" ng-click="vm.edite()"><i class="fa fa-pencil-square-o"></i>编辑</a>
            </div>
        </div>
        <div class="edit-info" style="display: none" id="editinfo">
            <p class="edit-title">密码
                <span class=" margin-right pull-right">
                    <a class="btn bg-primary" ng-click="vm.hide()">
                        <i class="fa fa-sort-up"></i>
                        收起</a>
                </span>
            </p>
            <div class="col-xs-6 col-xs-offset-3">
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <label class="custom-label ">原密码</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="form-control" type="password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <label class="custom-label ">新密码</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="form-control" type="password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">
                        <label class="custom-label ">重复新密码</label>
                    </div>
                    <div class="col-xs-8">
                        <input class="form-control" type="password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-4 text-center">
                        <button type="button" class="btn btn-success">保存</button>
                        <button type="button" class="btn btn-default" ng-click="vm.hide()">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>